<nav>
      <div ngClass="nav-container" fxLayout="row" fxLayoutAlign="end end">
          <a class="kh-logo" href="https://kahaniya.com" target="_blank">
              <img src="../assets/kh-logo.png" />
          </a>
  
          <!-- <div fxLayoutAlign="end center" fxLayoutGap="8px" fxFlex="50">
              <a mat-button routerLink="about" class="nav-link" fxLayoutAlign="end center">ABOUT</a>
              <a mat-button routerLink="contact" class="nav-link" fxLayoutAlign="end center">GET IN TOUCH</a>
          </div> -->
      </div>
  </nav>
