<div ngClass="main-container" ngClass.lt-md="main-container-sm" fxLayout="column" fxFlex="70" fxFlexOffset="15" fxFlex.lt-md="90" fxFlexOffset.lt-md="5" fxLayoutGap="16px;">
    
  <h2>Add New Song</h2>

  <hr>

  <h4>Enter Song ID to fetch Lyrics</h4>


  <mat-form-field>
    <input matInput placeholder="Song ID" [(ngModel)]="songId">
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" fxLayoutAlign="center end" (click)="fetchData()" [disabled]="songId == ''"> Fetch Data </button>
  </div>

  <hr>

  <h4>The following are the song's details</h4>

  <form (ngSubmit)="saveNewLyric(f)" #f="ngForm" fxLayout="column" fxLayoutGap="16px;">
    <mat-form-field>
      <input matInput ngModel name="ttl" required placeholder="Song title" >
    </mat-form-field>

    <mat-form-field>
      <input matInput ngModel name="tid" required placeholder="Title ID" />
    </mat-form-field>

    <mat-form-field>
      <input matInput ngModel name="img" required placeholder="Image URL" />
    </mat-form-field>

    <mat-form-field>
      <textarea matInput matTextareaAutosize ngModel name="telugu" required  placeholder="Telugu version of the song"></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput matTextareaAutosize ngModel name="english" required placeholder="Tenglish version of the song"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput ngModel disabled name="author" required placeholder="Author" />
    </mat-form-field>

    <mat-form-field>
      <input matInput ngModel name="authorId" required placeholder="Kahaniya author ID" />
    </mat-form-field>

    <mat-form-field>
      <input matInput ngModel name="summary" required placeholder="Summary" />
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" type="submit" fxLayoutAlign="center end" [disabled]="!f.valid"> Submit </button>
    </div>

  </form>
</div>
