.main-container {
    background-color: #f8f8f8;
    padding: 8px 64px;
    border: 1px solid #bcbcbc;
    margin: 32px 0;
}

.main-container-sm {
    background-color: #f8f8f8;
    padding: 8px 16px;
    border: 1px solid #bcbcbc;
    margin: 32px 0;
}

.mat-input-element{
    color: rgba(66, 66, 66, 0.87);
}

::ng-deep label.mat-form-field-label{
    font-size: 0.8714em;
    color: rgba(0, 0, 0, 0.55);
    top: 1.78125em;
}

::ng-deep .mat-input-underline {
    background-color: #e3e3e3;
}