@import '../node_modules/@angular/material/theming';

@include mat-core();

$mat-kh-primary: (
    50 : #e8f1e8,
    100 : #c5ddc6,
    200 : #9ec6a0,
    300 : #77af79,
    400 : #599e5d,
    500 : #3c8d40,
    600 : #36853a,
    700 : #2e7a32,
    800 : #27702a,
    900 : #1a5d1c,
    A100 : #9aff9d,
    A200 : #67ff6c,
    A400 : #34ff3a,
    A700 : #1aff22,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$varys-app-primary: mat-palette($mat-kh-primary);
$varys-theme-accent: mat-palette($mat-blue-grey);
$varys-app-warn: mat-palette($mat-red);

$varys-app-theme: mat-light-theme($varys-app-primary, $varys-theme-accent, $varys-app-warn);

@include angular-material-theme($varys-app-theme);

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(24px, 32px, 400),
  $title:         mat-typography-level(20px, 32px, 500),
  $subheading-2:  mat-typography-level(16px, 28px, 400),
  $subheading-1:  mat-typography-level(15px, 24px, 400),
  $body-2:        mat-typography-level(14px, 24px, 400),
  $body-1:        mat-typography-level(14px, 20px, 400),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(14px, 14px, 500),
  $input:         mat-typography-level(16px, 1.125, 400)
);

@include mat-core($custom-typography);