/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color: #efefef;
}

$varys-primary: #3c8d40;

html {
    font-family: Roboto, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}